# used for Stable DNS + load balancing
# For Now we hide Pod IPs.

apiVersion: v1
kind: Service
metadata:
  name: fraud-api-service
spec:
  selector:
    app: fraud-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP
